
/* Variables */
:root {
  --basic-white: #FFFFFF;
  --darkest-blue: #5496BD;
  --darker-blue: #669EC0;
  --basic-blue: #81B3D2;
  --dark-grey: #A9A9A9;
  --basic-grey: #EEEEEE;
  --bright-grey: #EBEBEB;
  --brighter-grey: #F2F2F2;
  --brightest-grey: #CACACA;
  --special-grey: #666666;
  --darkest-chocolate: #503E33;
  --darker-chocolate: #604E43;
  --basic-chocolate: #766357;
  --basic-black: #333333;
  --absolute-black: #000000;
  }
/* Global */
  body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0);
    width: 1px;
    height: 1px;
    margin: 1px;
    font-size: 0px;
  }

/* flex */

  .page {
    height: 100%;
    max-width: 1200px;
  }

  .navigation-list {
    display: flex;
    box-sizing: border-box;
    width: 1200px;
    max-height: 56px;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }


  .advantages-list {
    display: flex;
    box-sizing: border-box;
    height: 330px;
    width: 1200px;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 82px;
  }

  .reasons-blue {
    display: flex;
    box-sizing: border-box;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hotels {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .sort-hotels {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 1200px;
    border-color: #E5E5E5;
    border-width: medium;
  }

  .hotel-list {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 135px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid rgba(0, 255, 255, 0.7)
  }

/* Main navigation */
  .main-navigation {
        background-color: var(--basic-white);
  }

  .navigation-list {
    list-style: none;
    }

  .navigation-list a {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: var(--basic-black);
  }

  .navigation-list a:hover {
    color: var(--basic-blue);
  }

  .navigation-list a:active {
    color: var(--brightest-grey);
  }

/* ссылки сортировки и другие элементы inner*/
  .sort-list {
    display: flex;
    list-style: none;
    width: 150px;
      }

  .sort-list a {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--brightest-grey);
    text-decoration: underline;
  }

  .sort-list a:hover {
    color: var(--basic-blue);
  }

  .sort-list a:active {
    color: var(--basic-black);
  }

  .svg-link :hover {
    fill: var(--basic-black);
  }

  .svg-link :active {
    fill: var(--basic-blue);
  }

  .hotel-type {
    display: inline-block;
    box-sizing: border-box;
    min-width: 107px;
    min-height: 21px;
    margin-right: 9px;
  }

  .hotel-image{
    display: inline-block;
    box-sizing: border-box;
    outline: 5px solid rgba(0, 255, 255, 0.7);
    height: 90px;
    width: 130px;
  }

/* лого академии */

  .svg-logo {
    height: 40px;
  }

  .svg-logo :hover {
    fill: var(--basic-black);
  }

  .svg-logo :active {
    fill: var(--basic-blue);
  }

  .logo-link :hover .svg-logo {
    fill: var(--basic-black);
  }

  .logo-link :active .svg-logo {
    fill: var(--basic-blue);
  }

/* welcome section */
  .welcome {

    background-image: url("../img/background-sedona.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--brighter-grey);
    box-sizing: border-box;
    width: 1200px;
    padding-top: 77px;
    margin-left: auto;
    margin-right: auto;
    height: 509px;
  }

  .welcome-img-2 {
    margin-top: 17px;
  }

/* reasons section */
  .slogan-section {
    box-sizing: border-box;
    height: 216px;
    padding-top: 43px;
  }

  .slogan {
    color: var(--basic-black);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }

  .hotel-name {
    color: var(--basic-black);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }

  .minor-slogan-white {
    color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
  }

  .minor-slogan-black {
    color: var(--basic-black);
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
  }

  .reasons-blue {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    list-style: none;
    max-height: 256px;
  }

  .reasons-grey {
    color: var(--basic-black);
    background-color: var(--basic-grey);
    background-size: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 1200px;
    height: 256px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages-list {
    color: var(--basic-black);
    background-color: var(--basic-white);
    list-style: none;
  }

  .true-town {
    padding-top: 47px;
    padding-bottom:54px;
    padding-left: 52px;
  }

  .devils-blidge {
    padding-top: 47px;
    padding-bottom:54px;
    padding-right: 52px;
  }

  .interested {
    font-size: 30px;
  }

/* footer */
  .footer {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

  }

  .media-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
    width: 150px;
    height: 48px;
  }

  .media-list li{
    list-style: none;
    background-color: var(--basic-blue);
    background-position: center;
    background-repeat: no-repeat;
  }

  .media-list li:hover {
    background-color: var(--darker-blue);
  }
  .media-list li:active {
    background-color: var(--darkest-blue);
  }

  .media-list img{
    margin-top: 13px;
  }

  .html-academy-logo {
    display: flex;
    justify-content: аflex-end;
    align-items: center;
    box-sizing: border-box;
    width: 197px;
  }

/* find hotel форма поиска отелей */
  .find-hotel-form {
    width: 568px;
    margin-left: 315px;
    margin-right: 315px;
  }

  .find-global {
    max-width: 568px;
    height: 395px;
    border: none;
  }

  .find-field {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
  }

  .input {
    background-color: var(--brighter-grey);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    height: 38px;
    width: 346px;
    border: none;
  }

  .input:hover {
    background-color: var(--bright-grey);
  }

  .input:focus {
    background-color: var(--basic-white);
    border: 2px solid #E5E5E5;
  }

  .input-small {
    background-color: var(--brighter-grey);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    height: 38px;
    width: 39px;
    border: none;
  }

  .input-small:hover {
    background-color: var(--bright-grey);
  }

  .input-small:focus {
    background-color: var(--basic-white);
    border: 2px solid #E5E5E5;
  }

  .rating {
    text-align: center;
    color: var(--special-grey);
    width: 110px;
    height: 27px;
    background-color: var(--brighter-grey);
  }

  /* Buttons */

  .find-hotel-button {
    background-color: var(--basic-chocolate);
    width: 568px;
    height: 86px;
    color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    }

  .find-hotel-button:hover {
      background-color: var(--darker-chocolate);
      color: var(--basic-white);
    }
  .find-hotel-button:active {
      background-color: var(--darkest-chocolate);
      color: var(--basic-white);
      }

  .input-small-button {
    color: var(--dark-grey);
  }

  .input-small-button:hover {
    color: var(--absolute-black);
  }

  .input-small-button:active {
    color: var(--basic-blue);
  }

  .find-buton {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    height: 58px;
    width: 458px;
    border: none;
  }

  .find-buton:hover {
    background-color: var(--darker-blue);
  }

  .find-buton:active {
    background-color: var(--darkest-blue);
  }

/* кнопки для inner */

  .details {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    height: 27px;
    width: 110px;
    border: none;
  }

  .details:hover {
    background-color: var(--darker-blue);
  }

  .details:active {
    background-color: var(--darkest-blue);
  }

  .book {
    background-color: var(--basic-chocolate);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    height: 27px;
    width: 142px;
    border: none;
  }

  .book:hover {
    background-color: var(--darker-chocolate);
  }

  .book:active {
    background-color: var(--darkest-chocolate);
  }
